{% extends "base.html" %}


{% block content %}

		
	{% include 'c-jumbotron.html' %}	
	<div class="container">

	{% include 'c-alert.html' %}
	
		<div class="row">

			<div class="col-sm-6">
				{% include 'c-loginform.html' %}
			</div>	

			<div class="col-sm-6">
				{% include 'c-medialist.html' %}
			</div>	
			<div class="col-sm-12">
				{% include 'c-pillbar.html' %}
			</div>	
		</div>

	</div>

{% endblock content %}





Alles buiten de blokken blijft uit de HTML dus deze tekst komt nergens terug!


