<!-- deze navigatie staat in het base component, je kunt deze aanpassen of een variant op maken om deze te vervangen in het template Het mooie van deze navigatie is dat deze automatisch achter een knop valt wanneer je op mobiel zit-->

<div class="navbar navbar-inverse navbar-fixed-top c-navigation" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<!-- Dit is het stukje code dat er voor zorgt dat de navigatie inklapt op mobiel -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Project name</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>

